doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./assets/css/reset.css')
    link(rel='stylesheet' href='./assets/splide/splide-core.min.css')
    link(rel='stylesheet' href='./style.css')
  body
    .app
      //- header
      header.header
        img.header__brand(src='./assets/img/logo.png')
        .header__buttons
          img.header__button(src='./assets/img/icon-filter.svg' alt='svg de un filtro')
          img.header__button.header__button--menu(src='./assets/img/icon-menu.svg' alt='svg de un menu')
          nav.dropdown.dropdown--menu
            a.dropdown__item(href="#") Inicio
            a.dropdown__item(href="#") Sobre nosotros
            a.dropdown__item(href="#") Servicios
      //- header
      //- main
      .main
        .card
          img.card__img(src='./assets/img/img-example.png' alt='')
          p.card__price $1,000,000
          .card__buttons
            .button.button--card-rounded.button--info
              img.button__img(src='./assets/img/icon-info.svg' alt='')
            .button.button--card-rounded.button--map
              img.button__img(src='./assets/img/icon-map.svg' alt='')
            .button.button--card-rounded
              img.button__img(src='./assets/img/icon-whatsapp.svg' alt='')
          //- card-slide
          .card__empty-top
          .card__slide
            .slider-images.splide--images
              .splide__track
                .splide__list
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
            .slider-info.splide--info
              .splide__track
                .splide__list
                  p.slider-info__type.splide__slide
                    | Superficie #[span.slider-info__data 23m2]
                  p.slider-info__type.splide__slide
                    | Baños #[span.slider-info__data 3]
                  p.slider-info__type.splide__slide
                    | Recámaras #[span.slider-info__data 4]
                  p.slider-info__type.splide__slide
                    | Aire acondicionados #[span.slider-info__data 1]
          //- card-slide
          //- modal-map
          .modal.modal--map
            .mask.mask--map
            .button.button--modal.button--red.button--card-rounded.button--close-map
              img.button__img(src='./assets/img/icon-close.svg' alt='')
            iframe.map(src='https://maps.google.com/?q=21.161079,-86.883665&z=13&output=embed' style='border: 0' loading='lazy')
          //- modal-map
          //- modal-info
          .modal.modal--info
            .mask.mask--info
            .button.button--modal.button--red.button--card-rounded.button--close-info
              img.button__img(src='./assets/img/icon-close.svg' alt='')
            .card-info
              h2.card-info__title Título de la casa 
              .card-info__body
                table.card-info__table
                  tbody
                    tr.card-info__table-row
                      th.card-info__table-cell Superficie
                      td.card-info__table-cell 230m2
                    tr.card-info__table-row
                      th.card-info__table-cell Construcción
                      td.card-info__table-cell 325m2
                    tr.card-info__table-row 
                      th.card-info__table-cell Baños 
                      td.card-info__table-cell 3
                    tr.card-info__table-row 
                      th.card-info__table-cell Recámaras 
                      td.card-info__table-cell 2
                    tr.card-info__table-row 
                      th.card-info__table-cell Pisos 
                      td.card-info__table-cell 2
                p.card-info__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet magnam rerum provident doloribus, vel aperiam? Consectetur voluptatem doloribus quae optio eaque officiis temporibus mollitia sed dicta molestias, sit suscipit eius incidunt illo nihil, fuga repellat ipsa expedita animi fugiat aperiam! Fugit maxime, odio quos reprehenderit amet suscipit earum delectus consectetur totam in voluptas asperiores! Unde necessitatibus alias veritatis. Distinctio numquam facilis nisi ipsum omnis aliquid explicabo dolores iste minima alias? Nemo, numquam omnis autem, adipisci vitae tenetur fuga aliquid impedit consequatur sit nulla porro quod pariatur accusamus et quae maiores corporis corrupti esse quidem ducimus. Dolorum perspiciatis quod ipsam!
          //- modal-info
        .card
          img.card__img(src='./assets/img/img-example.png' alt='')
          p.card__price $1,000,000
          .card__buttons
            .button.button--card-rounded.button--info
              img.button__img(src='./assets/img/icon-info.svg' alt='')
            .button.button--card-rounded.button--map
              img.button__img(src='./assets/img/icon-map.svg' alt='')
            .button.button--card-rounded
              img.button__img(src='./assets/img/icon-whatsapp.svg' alt='')
          //- card-slide
          .card__empty-top
          .card__slide
            .slider-images.splide--images
              .splide__track
                .splide__list
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
                  .slider-images__container.splide__slide
                    img.slider-images__img(src='./assets/img/img-example-2.png' alt='')
            .slider-info.splide--info
              .splide__track
                .splide__list
                  p.slider-info__type.splide__slide
                    | Superficie #[span.slider-info__data 42m2]
                  p.slider-info__type.splide__slide
                    | Baños #[span.slider-info__data 1]
                  p.slider-info__type.splide__slide
                    | Recámaras #[span.slider-info__data 3]
                  p.slider-info__type.splide__slide
                    | Aire acondicionados #[span.slider-info__data 2]
          //- card-slide
          //- modal-map
          .modal.modal--map
            .mask.mask--map
            .button.button--modal.button--red.button--card-rounded.button--close-map
              img.button__img(src='./assets/img/icon-close.svg' alt='')
            iframe.map(src='https://maps.google.com/?q=21.161079,-86.883665&z=13&output=embed' style='border: 0' loading='lazy')
          //- modal-map
          //- modal-info
          .modal.modal--info
            .mask.mask--info
            .button.button--modal.button--red.button--card-rounded.button--close-info
              img.button__img(src='./assets/img/icon-close.svg' alt='')
            .card-info
              h2.card-info__title Título de la casa 
              .card-info__body
                table.card-info__table
                  tbody
                    tr.card-info__table-row
                      th.card-info__table-cell Superficie
                      td.card-info__table-cell 230m2
                    tr.card-info__table-row
                      th.card-info__table-cell Construcción
                      td.card-info__table-cell 325m2
                    tr.card-info__table-row 
                      th.card-info__table-cell Baños 
                      td.card-info__table-cell 3
                    tr.card-info__table-row 
                      th.card-info__table-cell Recámaras 
                      td.card-info__table-cell 2
                    tr.card-info__table-row 
                      th.card-info__table-cell Pisos 
                      td.card-info__table-cell 2
                p.card-info__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet magnam rerum provident doloribus, vel aperiam? Consectetur voluptatem doloribus quae optio eaque officiis temporibus mollitia sed dicta molestias, sit suscipit eius incidunt illo nihil, fuga repellat ipsa expedita animi fugiat aperiam! Fugit maxime, odio quos reprehenderit amet suscipit earum delectus consectetur totam in voluptas asperiores! Unde necessitatibus alias veritatis. Distinctio numquam facilis nisi ipsum omnis aliquid explicabo dolores iste minima alias? Nemo, numquam omnis autem, adipisci vitae tenetur fuga aliquid impedit consequatur sit nulla porro quod pariatur accusamus et quae maiores corporis corrupti esse quidem ducimus. Dolorum perspiciatis quod ipsam!
          //- modal-info
      //- main
      script(src="./assets/splide/splide.min.js")
      script(src='./script.js')
